#root {
    padding: 5px 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 500px;
}

.title {
    display: flex;
    align-items: center;
}

.title h2 {
    font-weight: 300;
    font-size: 1.5rem;
    flex: 1;
}

.title button {
    border: 1px solid dodgerblue;
    background-color: #fff;
    border-radius: 3px;
    color: dodgerblue;
    padding: 5px 10px;
    cursor: pointer;
}

#list {
    max-height: 450px;
    overflow: auto;
    position: relative;
    left: -5px;
    width: calc(100% + 10px);
}

#list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#list li {
    padding: 0 5px;
    opacity: 1;
    transition: all .3s linear;
    overflow: hidden;
    position: relative;
    height: 36px;
}

#list li.remove {
    opacity: 0;
    height: 0px;
}

#list li:hover {
    background: #ffffc4;
    border-radius: 5px;
}

#list .form-label {
    font-size: .9rem;
}

#list a {
    color: #5455ee;
}

.hidden {
    display: none;
}

.form-item {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
}

.form-item .form-label {
    font-size: 1rem;
    flex: 1;
    color: #333;
}

.form-item .form-input input[type=checkbox] {
    position: relative;
    appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #ffffff;
    border: 2px solid #e2e2e2;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #e2e2e2;
    transition-duration: 200ms;
}

.form-item .form-input input[type=checkbox]:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.form-item .form-input input[type=checkbox][value=true] {
    border-color: #4ED164;
    box-shadow: inset 20px 0 0 0 #4ED164;
}

.form-item .form-input input[type=checkbox][value=true]:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.center {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.loading {
    position: absolute;
    flex: 1;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffffcc;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
    color: #666;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.row {
    flex: 1;
    flex-direction: row;
}

button.remove {
    cursor: pointer;
    border: 1px solid #c8443f;
    border-radius: 3px;
    background: #fff;
    padding: 5px 15px;
    color: #c8443f;
}
