button.tw-border-blue-light.active {
    background: rgb(16, 165, 87) !important;
    color: #fff;
    border-color: transparent;
}

.follow-by-push-reply {
    position: absolute;
    top: 17px;
    right: 30px;
    cursor: pointer;
    z-index: 1;

    label {
        flex: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: .9rem;
    }

    .switch {
        top: 7px;
    }
}
